<head>
    <title>Admin Dashboard | Auction System</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Admin_dashboard.css">
</head>
<body>
    <!-- Include the dashboard header -->
    <%- include('/pro2/views/admin/head') %>

</body>
</html>
