<!--views/partials/header.html-->
<!DOCTYPE html>
<html lang="en">
    <body>
    <head>
        <header>
            <div class="container">
                <img src="../img/logo1.jpg" alt="Logo" class="logo">
                <h1>Agricultural Auction System</h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="/auction">Auctions</a></li>
                        <li><a href="/authUser/login">Login</a></li>
                        <li><a href="#">Term and Condition</a></li>
                    </ul>
                </nav>
            </div>
        </header>            
    </head>
