<head>
    <meta charset="UTF-8">
    <title>Auction</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/auction.css">
</head>
<body>
    <div id="header"></div>
    <div id="app">
        <h2>Auction Page</h2>
        <p>Details of current auctions.</p>
    </div>
    <div id="footer"></div>
    <script src="js/scripts.js"></script>
</body>
</html>
