/* auction.css */

#app {
<<<<<<< HEAD
    margin-top: 4rem;
=======
    margin-top: 0rem;
>>>>>>> 0c2bdc9 (CU pages)
    padding: 2rem;
    background-color: #fafad2;
    text-align: center;
}

h2 {
    color: #ff8c00;
}
